body{
    font-family: Georgia;
    color: #444;
    letter-spacing: 1px;
}

h1 {
    font-weight: bold;
    color: #fff;
}


p {
    display: flex;
    justify-content: center;
}    


#wrapper{
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
    box-sizing: border-box;
    padding: 0 0 20px;
    overflow: hidden;
    border: 1px solid lightgray;
}

#page-banner{
    background: #D3D3D3 ;
    padding: 10px 0;

}

#page-banner h1, #page-banner p{
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.headshot {
    display: flex;
    justify-content: center;
}

#employeeInfo {
    margin: 30px;
}